.arrow-container {
    position: absolute  !important;
    /* Para que los elementos hijos tengan posición relativa al contenedor */
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black;
    /* Color y tamaño de la punta de la flecha */
    position: absolute;
    top: -500px;
    left: 950px;
}

.arrow-tail {
    width: 5px;
    /* Ancho de la cola */
    height: 40px;
    /* Longitud de la cola */
    background-color: black;
    /* Color de la cola */
    position: absolute;
    top: -480px;
    /* Ajusta la posición para alinearla con la punta */
    left: 957px;
    /* Alinea la cola con el centro de la punta de la flecha */
}